
$white: #ffffff;
$light_gray: darken($white, 20%);
$gray: darken($white, 40%);
$dark_gray: darken($white, 80%);
$dark_crimson: #941600;

$crimson: lighten($dark_crimson, 50%);
$light_crimson: lighten($dark_crimson, 60%);

$light_red: #e0c2c2;