header {
    background-image: linear-gradient($light_red, $crimson);
    font-size: 30px;
    padding: 40px 0px;
}

.nav_link {
    font-size: 22px;
    width: 100%;
}

tr {
    display: flex;
}

table {
    border-spacing: 0px;
}

td {
    display: flex;
    justify-content: stretch;
    text-align: center;
    width: 100%;

    &:hover {
        background-color: $dark_crimson;
    }
}
